<style>
#container {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 600px;
}

.box {
    width: 800px;
    margin: 20px;
    text-align: center;
}
</style>

<div id="container">   

    <div class="box">
        <p><h1>Welcome to Chelas Movies DataBase</h1></p>
    </div>

    <div class="box">
        <img src="/public/1517845731.jpg" alt="movies" width="550" height="300">
    </div>

</div>